.navbar{
    border:1px solid rgba(0,0,0,0.1);
   }
   #link:hover{
     color:#aabdc4 !important;
   }
   #link1:hover{
     color:#aabdc4 !important;
   }
   #link2:hover{
     color:#aabdc4 !important;
   }
   #link3:hover{
     color:#aabdc4 !important;
   }
   #link4:hover{
     color:#aabdc4 !important;
   }
   #link5:hover{
     color:#aabdc4 !important;
   }
   #link6:hover{
     color:#aabdc4 !important;
   }
   #link7:hover{
     color:#aabdc4 !important;
   }
   